#update-toast {
  display: none;
  padding: 0.5cm 0.5cm 0.5cm 0.5cm;
  background: black;
  border: 1px solid blue;
  border-bottom: none;
  position: fixed;
  bottom: 0px;
  width: 50%;
  left: 20%;
  margin: 0 auto;
  animation: fadein 2s;
  border-radius: 1em 1em 0 0;
}
#update-toast.show {
  display: inline-block;
}
#update-toast button {
  border: none;
  background: inherit;
  color: pink;
  font-size: inherit;
  padding-right: 0.2cm;
  padding-left: 0.2cm;
  text-decoration: underline;
}
#update-toast button:focus {
  outline: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
